body{
    margin: 0;
    padding: 0;
    
    font-family: sans-serif;
}
.menu{
    display:flex ;
    background: gray;
    justify-content: space-between;
    
}
.menu p{
    color: white;  
    margin-left: 5px;  
}
.menu a{
    display: flex;
    text-decoration: none;
    
}
.menu img{
    width:35px;
    height: 35px;
    padding-left: 10px;
    padding-top: 5px;
    
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
  
.menu li {
    float: left;
}
  
.menu li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
  
.menu li a:hover {
    background-color: #111;
}
.body-content{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
   
    
}
.profile{
    width: 30%;
    background: rgb(163, 175, 243);
    border-radius: 25px;
    
    border: 5px solid rgb(4, 4, 134);
    
    
}
.profile img{
    
    
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: 5px solid blue;
    margin: 40px;
    
}

.content{
    width: 65%;
}
.content h2{
    border-bottom: 1px solid black;
    color: blue;
}
.profile h3{
    margin-left: 50px;
    color:rgb(6, 10, 248);
}
.profile h4{
    margin-left: 15px;
}
.body-content p{
    line-height: 25px;
}
.body-content li{
    line-height: 25px;
}
.profile p{
    margin-left: 15px;
}
button {
    background: green;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
    margin: 10px;
    border-radius: 25px;
}
.button1{
    margin-left: 45px;
}
.button1:hover{
    color: blue;
    background:orange;
 
}
.button2:hover{
    color: blue;
    background:orange;
}
.footer{
    background: rgb(158, 157, 157);
    padding: 10px;
}
.footer{
    align-items: center;
    justify-content:center ;
    display: flex;
}
.footer a {
    padding: 10px;
    color:black;
    
}
.fb a:hover{
    color:white;
    background: blue;
    border-radius: 50px;
    width: 15px;
    height: 15px;
}
.isg a:hover{
    color:white;
    background: pink;
    border-radius: 50px;
    width: 15px;
    height: 15px;
}
.tlg a:hover{
    color:white;
    background: blue;
    border-radius: 50px;
    width: 15px;
    height: 15px;
}
.twt a:hover{
    color:white;
    background: blue;
    border-radius: 50px;
    width: 15px;
    height: 15px;
}
.project{
    background: rgb(224, 240, 243);
}
.project1 h2{
    background: rgb(55, 167, 211);
    padding: 10px;
    margin: 0;
    text-align: center;
}
.body-project1{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.project1 img{
    width: 500px;
    height: 300px;
    margin-left: 55px;
    
}
.left, .right{
    width: 50%;
    margin-left: 30px;
    
}
.container img{
    width: 100%;
    height: 400px;
}
 
.container-fluid{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    width: 100%;
    margin-left: -10px;
}
.contact_imformation
{
    width: 30%;
    background: rgba(19, 63, 104, 0.158);
    border-radius: 25px;
}

.contect-left{
    margin: 20px;
}
.contect-left h3{
    background: rgba(10, 116, 158, 0.548);
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    color: white;
}
.contect-left p{
    line-height: 25px;
}
.body-container{
    width: 60%;
}
.container-form{
    background:rgba(85, 73, 247, 0.212);
    width: 100%;
    height: 300px;
    padding: 10px;
    border-radius: 25px;
    
}
.container-form h3{
    background: rgb(96, 169, 230);
    padding: 10px;
    text-align: center;
    width: 96%;
    border-radius: 25px;
    color: white;
}
input{
    margin: 5px 0;

    padding: 10px;
    box-sizing: border-box;
}
input[type=email],input[type=number]{
    width: 98.5%;
    outline: none;
    border: none;
}
input[type=text],input[type=submit], input[type=reset]{
    width: 49%;
    outline: none;
    border: none;
    
}
input[type=submit]{
    background: rgba(8, 115, 134, 0.603);
    border-radius: 15px;
    color: white;
}
input[type=reset]{
    background: rgba(52, 182, 182, 0.781);
    border-radius: 15px;
    color: white;
}
.google_map{
    margin: 35px;
    
    
}
.google_map h4{
    background: rgba(13, 30, 179, 0.466);
    padding: 10px;
    text-align: center;
    color: white;
}






